@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
 //background-image: url('../styles/image/estee-janssens-aQfhbxailCs-unsplash.jpg');
 background-color: whitesmoke;
  background-size: cover;    
  background-repeat: repeat;
  height: 100vh;
    
}
