header{

    display: flex;
    align-items: center;
    justify-content: center;   
    height: 15vh;   
    border-radius: 25px; 
    

        color:#648DAE;        

    
    button{
        margin: 5em;
        
    }

}