
.task-list{

height: 80vh;
border-radius: 20px;

.task-lists{

    font-size: 1.2em;
    height: 2.5em;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1em;
    color: yellow;
  
    
    }
    
}
