.add-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;   

     input{
         display: block;
         margin: 2.5em;
        width: 450px;
        border-radius: 50px;
        border-color:grey;
        height: 40px;
        text-align: center;
        font-size: 0.8em;

     }
     input:last-child{
         background-color:#648DAE;
         border-radius: 50px;
         
     }

}